.about__picture {
  max-width: 560px;

  @include vp-768 {
    max-width: 324px;
    height: 264px;
  }

  @include tablet-version-range {
    margin: 0 auto;
  }

  @include mobile-version-range {
    margin: 0 auto;
    height: 186px;
  }
}

.about__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: $white-to-right-top;
}
