.about__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  @include vp-768 {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 100px 20px 90px;
  }

  @include vp-320 {
    display: block;
  }
}
