.advantages {
  background-image: url("../img/background/advantages-background.png");
  background-color: $color-solitude;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  @include retina {
    background-image: url("../img/background/advantages-background@2x.png");
  }

  @include vp-768 {
    min-height: 588px;
    background-image: url("../img/background/advantages-background-tablet.png");

    @include retina {
      background-image: url("../img/background/advantages-background-tablet@2x.png");
    }
  }

  @include vp-320 {
    background-image: url("../img/background/advantages-background-mobile.png");

    @include retina {
      background-image: url("../img/background/advantages-background-mobile@2x.png");
    }
  }
}

.advantages__container {
  padding: 112px 20px 120px;

  @include tablet-version-range {
    padding: 90px 20px 100px;
  }
}

.advantages h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  margin: 0 0 60px 0;

  @include tablet-version-range {
    font-size: 26px;
    line-height: 39px;
    margin: 0;
    margin-bottom: 49px;
  }

  @include mobile-version-range {
    font-size: 24px;
    line-height: 36px;
    margin-top: -8px;
    margin-bottom: 31px;
  }
}
