.booking {
  background-image: url("../img/background/booking-background.jpg");
  background-color: $color-solitude;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  @include retina {
    background-image: url("../img/background/booking-background@2x.jpg");
  }

  @include vp-768 {
    background-image: url("../img/background/booking-background-tablet.jpg");


    @include retina {
      background-image: url("../img/background/booking-background-tablet@2x.jpg");
    }
  }

  @include vp-320 {
    background-image: url("../img/background/booking-background-mobile.jpg");

    @include retina {
      background-image: url("../img/background/booking-background-mobile@2x.jpg");
    }
  }
}

.booking__container {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px 50px;

  @include vp-1024 {
    flex-direction: column;
    align-items: center;
  }

  @include vp-768 {
    flex-direction: column;
    align-items: center;
  }
}
