.directions__list li {
  position: relative;
  cursor: pointer;
  // background: linear-gradient(180deg, rgba(239,250,254,1) 0%, rgba(175,237,255,1) 48%, rgba(0,99,189,1) 100%);

  @include vp-768 {
    // width: 309px;
  }

  @include mobile-version-range {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include effects-off {

  /* Разворот карточки на 180 градусов */
  .card:hover .card__front,
  .card:focus-within .card__front {
    transform: perspective(600px) rotateY(-180deg);
  }

  .card:hover .card-back,
  .card:focus-within .card-back {
    transform: perspective(600px) rotateY(0deg);
  }
}

@include vp-768 {
  .card:active .card__front {
    transform: perspective(600px) rotateY(-180deg);
  }

  .card:active .card-back {
    transform: perspective(600px) rotateY(0deg);
  }
}

/* ============ card__front */

.card__front {
  position: relative;
  transform: perspective(600px) rotateY(0deg);
  backface-visibility: hidden;
  transition: transform $trans-800;
  height: 386px;

  @include tablet-version-range {
    height: 386px;
  }
}

.card__front h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  position: absolute;
  margin: 0;
  color: $color-alice-blue;
  bottom: 22px;
  left: 30px;
  right: 30px;

  @include tablet-version-range {
    bottom: 27px;
    left: 35px;
  }

  @include mobile-version-range {
    bottom: 18px;
    left: 26px;
  }
}

.card__front img {
  width: 100%;
  height: 100%;
}

/* ============ card-back */

.card-back {
  background-color: $color-tangaroa;
  box-shadow: 0 4px 35px $color-tangaroa-opacity-2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px 25px 32px 25px;

  backface-visibility: hidden;
  transform: perspective(600px) rotateY(180deg);
  transition: transform $trans-800;
  overflow: auto;
}

.card-back h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-alice-blue;
  margin: -3px 0 14px 0;
}

.card-back__list {
  list-style: none;
  padding: 0;
  margin: 0 0 26px;
}

.card-back__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.card-back__item h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $color-alice-blue;
  margin: 0;
}

.card-back__item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-quartz;
  margin: 0;
}

.card-back__item span {
  margin-left: 3px;
}

.card-back a {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  background-color: $color-alice-blue;
  padding: 9px 20px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;

  @include effects-off {
    &:hover,
    &:focus {
      box-shadow: 0 0 40px 20px $color-turquoise-blue;
    }
  }

  &:active {
    background-color: $color-dodger-blue;
  }
}
