.contact__item {
  margin-bottom: 16px;

  @include vp-768 {
    margin-bottom: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contact__link {
  position: relative;
  padding: 3px 0 3px 28px;
  display: inline-block;
  vertical-align: middle;
  transition: letter-spacing 0.4s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @include vp-768 {
      top: 37%;
      transform: translateY(-37%);
    }
  }

  &--address::before {
    background-image: url("../img/svg/address-marker.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 22px;
  }

  &--phone::before {
    background-image: url("../img/svg/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 18px;
  }

  @include effects-off {
    &:hover,
    &:focus {
      color: $color-dodger-blue;
      letter-spacing: 0.3px;
    }
  }

  &:active {
    color: $color-blue;
  }
}
