.contact__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;

  @include vp-768 {
    max-width: 324px;
  }

  @include vp-320 {
    display: block;
    margin-bottom: 33px;
    order: -1;
  }
}

.contact__text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 3px 0 30px;

  @include tablet-version-range {
    margin: 4px 0 23px;
  }

  @include mobile-version-range {
    margin: -6px 0 23px;
  }
}
