.directions__list {
  list-style: none;
  padding: 0;

  display: grid;
  margin: 0 15px;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @include tablet-version-range {
    grid-template-columns: repeat(auto-fill, 309px);
    justify-content: center;
  }

  @include mobile-version-range {
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: center;
    margin: 0 10px;
    column-gap: 30px;
    row-gap: 0;
  }
}
