.directions__container {
  padding: 116px 20px 120px;
}

.directions h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  margin: 0;
  margin-bottom: 55px;

  @include vp-768 {
    font-size: 26px;
    line-height: 39px;
    margin-top: -10px;
    margin-bottom: 49px;
  }

  @include vp-320 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 34px;
  }
}
