.footer {
  background-color: $color-tangaroa;
  color: $color-alice-blue;
}

.footer__container {
  display: grid;
  grid-template-columns: min-content 1fr minmax(min-content, 180px);
  align-items: center;
  padding: 50px 20px;

  @include vp-768 {
    grid-template-columns: min-content 1fr minmax(min-content, 95px);
    padding: 50px 20px;
  }

  @include vp-320 {
    display: block;
    padding: 40px 10px;
  }
}
