.footer {
  background-color: $color-tangaroa;
  color: $color-alice-blue;
}

.footer__container {
  display: grid;
  grid-template-columns: min-content 1fr minmax(min-content, 115px);
  align-items: center;
  padding: 50px 20px;

  @include tablet-version-range {
    // grid-template-columns: min-content 1fr minmax(min-content, 70px);
    padding: 50px 20px;
  }

  @include mobile-version-range {
    display: block;
    padding: 40px 10px;
  }
}
