.header {
  position: absolute;
  width: 100%;
  top: 37px;
  left: 0;
  right: 0;
  z-index: 2;

  @include vp-768 {
    top: 26px;
  }

  @include vp-320 {
    top: 13px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
  padding: 0 20px;

  @include vp-768 {
    padding: 0 20px;
  }

  @include vp-320 {
    padding: 0 10px;
  }
}

/* Реализация шапки без JS. Стилизация с помощью добавления класса "no-js" тегу header */

@include mobile-version {
  .header.no-js {
    position: static;
    margin: 20px 0 0 0;
  }

  .header.no-js .header__container {
    display: block;
    text-align: center;
  }


  .header.no-js .header__logo {
    position: static;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 20px 0;
  }

  .header.no-js .logo__icon {
    fill: $color-tangaroa;
  }

  .header.no-js .header__burger {
    display: none;
  }

  .header.no-js .header__nav {
    position: static;
    width: 100%;
    height: auto;
  }

  .header.no-js .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
