.header {
  position: absolute;
  width: 100%;
  top: 37px;
  left: 0;
  right: 0;
  z-index: 2;

  @include vp-768 {
    top: 20px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
}

/* ============ header__logo */

.header__logo {
  @include mobile-version {
    transition: left $trans-600, fill $trans-800;
    margin-bottom: 0;
  }
}

.header__logo.is-open {
  @include mobile-version {
    position: relative;
    left: 6%;
    z-index: 8;
  }
}

.header__logo.is-open .logo__icon {
  @include mobile-version {
    fill: $color-tangaroa;
  }
}

/* Общие стили с логотипом в подвале */
.logo {
  display: inline-block;
  line-height: 0;
  width: 70px;
  height: 38px;
  vertical-align: middle;
  margin: 0 40px 15px 0;

  flex-shrink: 0;

  @include vp-768 {
    margin: 0 25px 15px 0;
    width: 38px;
    height: 20px;
  }

  @include mobile-version {
    position: relative;
    left: 0;
  }
}

.logo__icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  fill: $color-alice-blue;
}

/* ========== header__burger */

.burger {
  display: none;

  @include vp-768 {
    display: none;
  }

  @include mobile-version {
    display: inline-block;
    position: relative;
    height: 12px;
    width: 24px;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 8;
  }
}

.burger__menu {
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  background: $color-alice-blue;
  margin: 0 auto;
  transition: height $trans-default;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    border: none;
    background: $color-alice-blue;
    left: 0;
  }

  &::before {
    top: -5px;
    transition: top 300ms 300ms, transform $trans-header-burger;
  }

  &::after {
    bottom: -5px;
    transition: bottom 300ms 300ms, transform $trans-header-burger;
  }
}

.burger.is-open {
  height: 20px;
}

.burger__menu.is-open {
  background: $color-transparent;
}

.burger__menu.is-open.burger__menu::before {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms $trans-header-burger-2;
  background: $color-tangaroa;
}

.burger__menu.is-open.burger__menu::after {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms $trans-header-burger-2;
  background: $color-tangaroa;
}

/* ============== nav */

.header__nav {
  @include mobile-version {
    position: fixed;
    width: 90%;
    height: 100%;
    background: $color-alice-blue;
    top: 0;
    right: -90%;
    transition: right 500ms cubic-bezier(0.68, 0.55, 0.27, 1.55);
    overflow: auto;
  }
}

.header__nav.is-open {
  right: 0;
}

.header__nav.is-open.header__nav::before {
  content: "";
  position: fixed;
  width: 90%;
  height: 70px;
  background-color: $color-alice-blue;
  top: 0;
  right: 0;
  z-index: 5;
}

/* Общие стили с навигацией в подвале */
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  @include mobile-version {
    display: block;
    margin-top: 75px;
    margin-left: 15px;
  }
}

.nav__item {
  margin: 0 34px 15px 0;

  @include tablet-version {
    margin: 0 20px 10px 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @include mobile-version {
    margin: 0 0 10px 0;
    max-width: 240px;
  }
}

.nav__item>a {
  position: relative;
  color: $color-alice-blue;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 0;

  @include vp-1023 {
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: -3px;
      width: 0;
      height: 2px;
      background-color: $color-perano;
      transition: width $trans-600;
    }

    &:hover::after,
    &:focus::after {
      content: "";
      width: 100%;
      left: 0;
      background-color: $color-default-white;
    }
  }

  &:active {
    color: $color-turquoise-blue;
  }

  @include vp-768 {
    font-size: 14px;
    line-height: 17px;
  }

  @include mobile-version {
    display: block;
    font-size: 18px;
    line-height: 22px;
  }
}

@include mobile-version {
  .header__nav a {
    color: $color-tangaroa;
    padding: 10px;
  }
}


/* Реализация шапки без JS. Стилизация с помощью добавления класса "no-js" тегу header */

@include mobile-version {
  .header.no-js {
    position: static;
    margin: 20px 0 0 0;
  }

  .header.no-js .header__container {
    display: block;
    text-align: center;
  }


  .header.no-js .header__logo {
    position: static;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 20px 0;
  }

  .header.no-js .logo__icon {
    fill: #011C40;
  }

  .header.no-js .header__burger {
    display: none;
  }

  .header.no-js .header__nav {
    position: static;
    width: 100%;
    height: auto;
  }

  .header.no-js .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
