.intro {
  color: $color-alice-blue;
  background-image: url("../img/background/intro-background.jpg");
  background-color: $blue-to-bottom;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  filter: $intro-filter-bcg;

  @include retina {
    background-image: url("../img/background/intro-background@2x.jpg");
  }

  @include vp-768 {
    background-image: url("../img/background/intro-background-tablet.jpg");

    @include retina {
      background-image: url("../img/background/intro-background-tablet@2x.jpg");
    }
  }

  @include vp-320 {
    background-image: url("../img/background/intro-background-mobile.jpg");

    @include retina {
      background-image: url("../img/background/intro-background-mobile@2x.jpg");
    }
  }
}

.intro__container {
  display: flex;
  align-items: center;
  min-height: 650px;

  @include vp-768 {
    min-height: 638px;
  }

  @include vp-320 {
    min-height: 500px;
  }
}
