.intro__block {
  margin-left: 96px;

  @include vp-768 {
    margin-left: 0;
  }
}

.intro__block h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 55px;
  max-width: 1000px;
  text-shadow: 0 4px 4px $color-black-opacity-1;
  margin: 0;
  margin-bottom: 16px;

  @include vp-768 {
    font-size: 50px;
    line-height: 40px;
    margin: 0 0 22px;
  }

  @include mobile-version {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 10px;
  }
}

.intro__block p {
  font-size: 20px;
  line-height: 24px;
  max-width: 900px;
  text-shadow: 0 4px 4px $color-black-opacity-1;
  margin: 0;

  @include vp-768 {
    font-size: 18px;
    line-height: 22px;
  }

  @include mobile-version {
    font-size: 16px;
    max-width: 210px;
  }
}
