.intro {
  color: $color-alice-blue;
  background-image: url("../img/background/intro-background.jpg");
  background-color: $deep-sky-blue;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  filter: $intro-filter-bcg;

  @include retina {
    background-image: url("../img/background/intro-background@2x.jpg");
  }

  @include tablet-version-range {
    background-image: url("../img/background/intro-background-tablet.jpg");
    filter: none;

    @include retina {
      background-image: url("../img/background/intro-background-tablet@2x.jpg");
    }
  }

  @include mobile-version-range {
    background-image: url("../img/background/intro-background-mobile.jpg");
    border: 1px solid $color-default-black;
    filter: none;

    @include retina {
      background-image: url("../img/background/intro-background-mobile@2x.jpg");
    }
  }
}

.intro__container {
  display: flex;
  align-items: center;
  min-height: 650px;

  @include tablet-version-range {
    min-height: 638px;
  }

  @include mobile-version-range {
    min-height: 500px;
  }
}
