.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  transition: background-color $trans-600, color $trans-600;
}

.page-body.shadow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $body-shadow;
}

.page-body.dark-mode {
  background-color: #1D1F20;
  color: #EFFEFF;
}

/* Фон header */
.header.dark-mode .header__nav {
  @include mobile-version-range {
    background-color: #1D1F20;
  }
}

/* Подложка у header */
.header.dark-mode .header__nav.is-open.header__nav::before {
  @include mobile-version-range {
    background-color: #1D1F20;
  }
}

/* Крестик */
.header.dark-mode .burger__menu.is-open.burger__menu::before,
.header.dark-mode .burger__menu.is-open.burger__menu::after {
  @include mobile-version-range {
    background-color: #ffffff;
  }
}

/* Лого */
.header.dark-mode .header__logo.is-open .logo__icon {
  @include mobile-version-range {
    fill: #ffffff;
  }
}

.header.dark-mode.no-js .logo__icon {
  @include mobile-version-range {
    fill: #ffffff;
  }
}

/* Ссылки навигации */
.header.dark-mode .header__nav a {
  @include mobile-version-range {
    color: #ffffff;

    &:active {
      color: red;
    }
  }
}

.advantages.dark-mode {
  background-color: #2D3843;
}

.advantages.dark-mode h2 {
  color: #EFFEFF;
}

.advantages.dark-mode .advantages__item {
  background-color: #1D1F20;
  color: #EFFEFF;
}

.advantages.dark-mode svg {
  fill: #EFFEFF;
}

.booking.dark-mode {
  color: #001332;
}

.callback.dark-mode input {
  background-color: #1D1F20;
  color: #EFFEFF;
}

.callback.dark-mode input::placeholder {
  color: #a9a7a3;
}

.callback.dark-mode button {
  background-color: #1D1F20;
  color: #EFFEFF;
}

.approval.dark-mode label::before {
  background-color: #1D1F20;
}

.approval.dark-mode input:checked+label::after {
  background-image: url('../img/svg/check-mark-modal-white.svg');
}

.contact.dark-mode .contact__link {
  color: #EFFEFF;

  @include effects-off {

    &:hover,
    &:focus {
      color: $color-dodger-blue;
      letter-spacing: 0.3px;
    }
  }

  &:active {
    color: $color-blue;
  }
}

.contact.dark-mode .contact__link--address::before {
  background-image: url('../img/svg/address-marker-white.svg');
  background-repeat: no-repeat;
}

.contact.dark-mode .contact__link--phone::before {
  background-image: url('../img/svg/phone-icon-white.svg');
  background-repeat: no-repeat;
}

.footer.dark-mode {
  background-color: #182346;
}
