.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  transition: background-color $trans-600, color $trans-600;
}

.page-body.shadow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $body-shadow;
}

.page-body.dark-mode {
  background-color: $body-black-pearl;
  color: $body-azure;
}
