.callback {
  width: 403px;
  background: $color-tangaroa;
  color: $color-alice-blue;
  padding: 45px 50px 50px 50px;
  box-shadow: 0 4px 45px $color-tangaroa-opacity-2;

  @include vp-320 {
    width: 290px;
    padding: 40px 30px;
  }
}

.callback__form>p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
  margin-bottom: 27px;

  @include vp-320 {
    line-height: 25px;
    text-align: center;
    margin: 0 0 28px;
    margin-top: -4px;
  }
}

.callback__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @include vp-768 {
    margin: 0 0 29px;
  }

  @include vp-320 {
    margin-bottom: 23px;
  }
}

.callback__item {
  margin-bottom: 20px;

  &:last-child {
    margin: 0;
  }
}

.callback__item>label>input {
  font-family: $ff-placeholder;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  color: $color-tangaroa-opacity;
  padding: 11px 50px 11px 16px;
  border: none;
  background-color: $color-alice-blue;
}

.callback__form>button {
  font-family: $ff-placeholder;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  width: 100%;
  background-color: $color-alice-blue;
  border: none;
  margin: 0;
  padding: 11px 40px 10px;
  cursor: pointer;

  @include vp-769 {
    &:hover,
    &:focus {
      background: $color-turquoise-blue;
    }

    &:disabled {
      cursor: auto;
      background: $color-alice-blue;
    }
  }

  &:active {
    background: $color-dodger-blue;
  }

  &:disabled {
    cursor: auto;
    background: $color-alice-blue;
  }
}
