.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px;

  // @include vp-1024 {
  //   max-width: 1023px;
  // }

  @include tablet-version-range {
    max-width: 718px;
    padding: 100px 20px;
  }

  @include mobile-version-range {
    max-width: 310px;
    padding: 65px 10px;
  }
}
