.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 103px;

  // @include vp-1024 {
  //   max-width: 1024px;
  // }

  @include vp-768 {
    max-width: 768px;
    padding: 0 45px;
  }

  @include vp-320 {
    max-width: 320px;
    padding: 0 15px;
  }
}
