.contact {

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-bottom: 16px;

    @include vp-768 {
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    position: relative;
    padding: 3px 0 3px 28px;
    display: inline-block;

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @include vp-768 {
        top: 37%;
        transform: translateY(-37%);
      }
    }

    &--address::before {
      background: url('../../../img/svg/address-marker.svg') no-repeat 0 0;
      height: 22px;
    }

    &--phone::before {
      background: url('../../../img/svg/phone-icon.svg') no-repeat 0 0;
      height: 18px;
    }
  }
}
