.modal {
  width: 403px;
  background: $color-tangaroa;
  color: $color-alice-blue;
  padding: 45px 50px 50px 50px;
  box-shadow: 0px 4px 45px $color-tangaroa-opacity-2;

  @include vp-320 {
    width: 290px;
    padding: 40px 30px;
  }


  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin: 0;
    margin-bottom: 27px;

    @include vp-320 {
      line-height: 25px;
      text-align: center;
      margin: 0 0 28px;
      margin-top: -4px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    @include vp-768 {
      margin: 0 0 29px;
    }

    @include vp-320 {
      margin-bottom: 23px;
    }
  }

  &__item {
    margin-bottom: 20px;

    &:nth-child(3) {
      margin-bottom: 14px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    font-family: $ff-placeholder;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    color: $color-tangaroa-opacity;
    padding: 11px 50px 11px 16px;
    border: none;
    background-color: $color-alice-blue;
  }

  &__button {
    font-family: $ff-placeholder;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    width: 100%;
    background-color: $color-alice-blue;
    border: none;
    padding: 0;
    margin: 0;
    padding: 11px 40px 10px;
    cursor: pointer;

    @include vp-769 {
      &:hover,
      &:focus {
        background: $color-turquoise-blue;
      }

      &:disabled {
        cursor: auto;
        background: #F9FBFD;
      }
    }

    &:active {
      background: $color-dodger-blue;
    }

    &:disabled {
      cursor: auto;
      background: #F9FBFD;
    }
  }
}
