.about {

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    padding: 120px 103px;

    @include vp-768 {
      grid-column-gap: 30px;
      padding: 98px 45px 93px;
    }

    @include vp-320 {
      display: block;
      padding: 65px 15px;
    }
  }
}
